* {
	box-sizing: border-box;
}

body {
	font-family: Dogma, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 2rem;
	border: 1px solid grey;
}

#app {
	position: relative;
	display: grid;
	/* grid-template-columns: minmax(0, 1fr); */
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	/* max-width: 100%;
  height: auto; */
	/* max-height: 100%; */
	overflow: hidden;
	aspect-ratio: 16 / 9;
	background-color: red;
}

.root {
	display: grid;
	outline: 1px solid cyan;
	font-family: Dogma, Helvetica, sans-serif;
}

.root-layer {
	grid-area: 1 / 1;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

#telco {
	display: flex;
	margin-top: 1rem;
	width: 100%;
}

#telco button {
	width: 80px;
}
#telco input {
	flex: 1;
}

#telco span {
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1rem;
	margin-left: auto;
	width: 3rem;
}

#t3d {
	position: absolute;
	left: 340px;
}

body {
	background-color: cornsilk;
}

.enter {
	outline: 1px solid red;
}

.container-grid {
	display: grid;
	grid-template-columns: repeat(160, minmax(0, 1fr));
	grid-template-rows: repeat(90, minmax(0, 1fr));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	aspect-ratio: 16 / 9;
	width: 100%;
	background-color: aliceblue;
	border: 1px solid grey;
}

.container-grid > * {
	isolation: isolate;
}

.container-grid div img {
	object-fit: contain;
	width: 100%;
	max-height: 100%;
	/* object-position: center; */
}

.item1 {
	grid-area: 10 / 10 /80/150;
	background-color: cyan;
	width: 100%;
	height: 100%;
}

.item2 {
	grid-area: 25 / 25 / span 30 / span 30;
	background-color: red;
	border: var(--size) solid green;
}

.item3 {
	grid-area: 35 / 70 / span 20 / span 20;
	background-color: blue;
	border-radius: 50%;
	border: var(--size) solid green;
}

.item4 {
	grid-area: 70 / 60 / span 50 / span 60;
}

.item5 {
	grid-area: 30 / 40;
}
.item55 {
	grid-area: 10 / 90;
}

.text3 {
	background-color: yellow;
	width: max-content;
	height: max-content;
	border: var(--size) solid green;
}

.subitem1 {
	background-color: yellow;
	font-size: calc(2 * 1vw);
}

.size {
	--size: 40px;
}

.action01 {
	outline: 2px solid yellow;
}
