#app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	position: relative;
	padding: 2rem;
	border: 1px solid grey;
	min-height: 50vh;
	overflow: hidden;
}

.root {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	/* background-color: navajowhite; */
	outline: 1px solid cyan;
}

.root-layer {
	grid-area: 1 / 1;
	grid-row-start: auto;
	z-index: 1;
}

#telco {
	display: flex;
	margin-top: 1rem;
}
#telco input {
	flex: 1;
}

#telco span {
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1rem;
	margin-left: auto;
	width: 3rem;
}

#t3d {
	position: absolute;
	left: 340px;
}

body {
	background-color: cornsilk;
}
